<% stimulus_controller = comment.top_level? ? 'new-comment' : 'reply' %>
<% stimulus_form_action = "ajax:success->#{stimulus_controller}#onCommentSuccess ajax:error->#{stimulus_controller}#onCommentError".html_safe %>

<%= form_with(model: comment, url: [commentable, comment], html: { data: { type: 'text', action: stimulus_form_action } }) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation" data-target="<%= "#{stimulus_controller}.errors" %>">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :body, class: 'textarea' %>
  </div>

  <div class="field is-grouped">
    <% if stimulus_controller == 'reply' %>
      <div class="control">
        <%= link_to 'Cancel', :back, class: 'button', data: { action: 'reply#removeForm' } %>
      </div>
    <% end %>
    <div class="actions control">
      <%= form.submit 'Add Comment', class: 'button is-primary' %>
    </div>
  </div>
<% end %>
