<% hide_back_button = local_assigns.fetch :hide_back_button, false %>

<%= form_with(model: comment, url: [commentable, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :body, class: 'textarea' %>
  </div>

  <div class="field is-grouped">
    <% unless hide_back_button %>
      <div class="control">
        <%= link_to 'Cancel', :back, class: 'button cancel' %>
      </div>
    <% end %>
    <div class="actions control">
      <%= form.submit 'Add Comment', class: 'button is-primary' %>
    </div>
  </div>
<% end %>
