<div class="content">
  <h1>
    <%= @post.title %>
  </h1>

  <p>
    <%= @post.body %>
  </p>
  <%# <div class="field is-grouped"> %>
  <%#   <div class="control"> %>
  <%#     <%= link_to 'Back', posts_path, class: 'button is-small' %1> %>
  <%#   </div> %>
  <%#   <div class="control"> %>
  <%#     <%= link_to 'Edit', edit_post_path(@post), class: 'button is-link is-small' %1> %>
  <%#   </div> %>
  <%# </div> %>
</div>

<div class="content post-comments-section">
  <h3>Comments</h3>
  <%= render 'comments/form', comment: @comment, commentable: @post, embedded: true %>
  <%= render @post.comments.all %>
</div>
